[project]
name = "{{ project_slug }}"
version = "0.0.0"
description = "{{ project_description }}"
authors = [{ name = "{{ author_name }}", email = "{{ author_email }}" }]
requires-python = ">=3.14"
dependencies = [
    "core",
    "dummy-regression",
    "einops>=0.8.2",
    "hydra-core>=1.4.0.dev5",
    "jaxtyping>=0.3.11",
    "matplotlib>=3.11.0",
    "omegaconf>=2.4.0.dev12",
    "safetensors>=0.8.0",
    "torch>=2.12.1",
]

[tool.uv]
package = false

[tool.uv.workspace]
members = ["packages/*"]

[tool.uv.sources]
core = { workspace = true }
dummy-regression = { workspace = true }

[dependency-groups]
dev = [
    "docling>=2.108.0",
    "hypothesis>=6.155.7",
    "ipykernel>=7.3.0",
    "ipywidgets>=8.1.8",
    "prek>=0.4.5",
    "pytest>=9.1.1",
    "ruff>=0.15.19",
    "ty>=0.0.53",
]
